## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('/Users/kevindaniliuk/Desktop/Modules/Module6/world_weather_analysis/Vacation_Search/WeatherPy_vacation.csv')
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Carauari,BR,86.18,broken clouds,-4.8828,-66.8958,Hotel Fellip
1,2,Gizo,SB,82.26,scattered clouds,-8.1030,156.8419,Imagination Island
2,13,Shingu,JP,77.11,overcast clouds,33.7333,135.9833,Shingu UI Hotel
3,23,Orikum,AL,75.70,clear sky,40.3253,19.4714,Hotel Denta
4,24,Alexandria,EG,78.03,few clouds,31.2156,29.9553,Royal Crown Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Elizabeth City"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Elizabeth City"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Robertson"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hattiesburg"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Sumter"]

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
US_Itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], 
                           travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(US_Itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,409,Elizabeth City,US,82.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
1,534,Robertson,US,82.38,few clouds,36.5167,-86.8667,Hampton Inn Springfield
2,335,Hattiesburg,US,88.29,clear sky,31.3271,-89.2903,Quality Inn & Suites
3,472,Sumter,US,87.75,overcast clouds,28.7086,-82.0831,Paradise Oaks RV Resort

In [66]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(33.0, -83.0), zoom_level=5.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))